b{
	color:black;
	font-family: arial;
	font-size:18px;
}
u{
	color:black;
	font-family: arial;
	font-size:18px;
}
img{
	color:blue;
}
tbody{
  width: 100%;
  height: 100%;
}
a{
	color:red;
	font-family:arial;
	font-size:18;
}
table{
  margin: 0 auto;
  padding: 8px;
}
br{
	color:black;
	font-family: arial
	font-size:18px;
}